<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palliative">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ServiceActivity"></activity>
        <activity android:name=".activities.FinalPaymentActivity" />
        <activity android:name=".activities.TransactionActivity" />
        <activity android:name=".models.Service" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.OnlinePaymentActivity" />
        <activity android:name=".activities.VolunteersActivity" />
        <activity android:name=".PATIENT" />
        <activity android:name=".activities.REGISTER" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".activities.MainActivity">

        </activity>

        <activity android:name=".SERVICE" />
    </application>

</manifest>