<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.palliative">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.OfficeActivity"></activity>
        <activity android:name=".activities.AccessoriesActivity" />
        <activity android:name=".details.ProductDetails" />
        <activity android:name=".ProductImage" />
        <activity android:name=".Productimg" />
        <activity android:name=".GridView" />
        <activity android:name=".Listimages" />
        <activity android:name=".Take" />
        <activity android:name=".Product" />
        <activity android:name=".Patient" />
        <activity android:name=".VolunteerActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ServiceActivity" />
        <activity android:name=".activities.FinalPaymentActivity" />
        <activity android:name=".activities.TransactionActivity" />
        <activity android:name=".models.Service" />
        <activity android:name=".activities.PaymentActivity" />
        <activity android:name=".activities.OnlinePaymentActivity" />
        <activity android:name=".activities.VolunteersActivity" />
        <activity android:name=".activities.REGISTER" />
        <activity android:name=".SERVICE" />
    </application>

</manifest>